<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abc.app.sanghoapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SangHoApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BookingListActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".CityListActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".HostingMainActivity" />
        <activity android:name=".HostingActivity" />
        <activity android:name=".ShowAdapterActivity" />
        <activity android:name=".ShowAdapter" />
        <activity android:name=".ShowActivity"></activity>
    </application>

</manifest>